//
   Created by 01170626 on 2016/12/12.
div.box.box-default(style="position:absolute;top:10%;left:30%;right:10%;width:60%;text-align:center")
    div.box-header.with-border
        h3.box-title 中奖观众统计

    div.box-body
        div.table-responsive
            table.table.no-margin
                thead
                tr
                    th(style="text-align:center; ") 序号
                    th(style="text-align:center; ") 获奖人1姓名
                    th(style="text-align:center; ") 获奖人1工号
                    th(style="text-align:center; ") 获奖人2姓名
                    th(style="text-align:center; ") 获奖人2工号
                tbody#awardCP
