//
   Created by 01170626 on 2016/12/2.
ul#gn-menu.gn-menu-main
    li.gn-trigger
        a.gn-icon.gn-icon-menu.gn-selected
            span menu
        nav.gn-menu-wrapper
            div.gn-scroller
                ul.gn-menu
                    li
                        a.gn-icon.gn-icon-help 人数统计
                    li
                        a.gn-icon.gn-icon-help 待补充
                    li
                        a.gn-icon.gn-icon-help 待补充
                    li
                        a.gn-icon.gn-icon-help 待补充

    li
        a(href="manage.html")
            i.fa.fa-angle-left &nbsp; 返回首页
    li
        a(href="#")