//
   Created by 01170626 on 2016/12/2.
ul#gn-menu.gn-menu-main
    li
        a(href="manage.html")
            i.fa.fa-angle-left &nbsp; 返回首页
        nav.gn-menu-wrapper.gn-open-all
            div.gn-scroller
                ul.gn-menu
                    li
                        a.gn-icon.gn-icon-help(href="statistics.html") 签到人数统计
                    li
                        a.gn-icon.gn-icon-help(href="programStatistics.html") 节目奖项统计
                    li
                        a.gn-icon.gn-icon-help(href="awardUserStatistics.html") 中奖观众统计
                    li
                        a.gn-icon.gn-icon-help(href="awardCPStatistics.html") 中奖CP统计
    li
        a(href="#")
