<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.lottery.dao.UserMapper">
    <select id="selectSignedUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sf_user
    where is_sign = 1
       ORDER BY signed_time ASC
    </select>

    <select id="isSignedByWxInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
            select
            id
            from sf_user
            where wx_openid = #{openId,jdbcType=VARCHAR} and is_sign=true
    </select>

    <select id="selectNumById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        sf_num
        from sf_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="isSignedByUserNum" parameterType="java.lang.Integer" resultType="java.lang.Boolean">
    select
    is_sign
    from sf_user
    where sf_num = #{sfNum,jdbcType=INTEGER}
</select>


    <select id="selectUserByUniqueKey" resultMap="BaseResultMap">
        select
        *
        from sf_user
        where sf_num=#{0} and sf_name=#{1}
    </select>

    <select id="verifyUser" resultType="java.lang.Integer">
        select
        count(*)
        from sf_user
        where sf_num=#{0} and sf_name=#{1}
    </select>

    <update id="updateByNoAndName" parameterType="com.sf.lottery.common.model.User" >
        update sf_user
        set is_sign = #{isSign,jdbcType=BIT},
        signed_time = #{signedTime,jdbcType=TIMESTAMP},
        wx_openid = #{wxOpenid,jdbcType=VARCHAR},
        wx_headimgurl = #{wxHeadimgurl,jdbcType=VARCHAR},
        wx_nickname = #{wxNickname,jdbcType=VARCHAR},
        wx_sex = #{wxSex,jdbcType=INTEGER},
        wx_province = #{wxProvince,jdbcType=VARCHAR},
        wx_city = #{wxCity,jdbcType=VARCHAR},
        wx_country = #{wxCountry,jdbcType=VARCHAR},
        wx_privilege = #{wxPrivilege,jdbcType=VARCHAR},
        wx_unionid = #{wxUnionid,jdbcType=VARCHAR}
        where sf_num = #{sfNum,jdbcType=INTEGER} and sf_name = #{sfName,jdbcType=VARCHAR}
    </update>

    <select id="getSignedAmount" resultType="java.lang.Integer">
        select
        count(*)
        from sf_user
        where is_sign=true
    </select>

    <select id="getTotalUserAmount" resultType="java.lang.Integer">
        select
        count(*)
        from sf_user
    </select>


    <select id="getUnAwardUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sf_user
        where award_count=0 and is_sign=true
    </select>

    <update id="updateAwardCountBatch"  parameterType="java.util.List">
        <foreach collection="list" item="User" index="index" open="" close="" separator=";">
            update sf_user
            <set>
                award_count = 1
            </set>
            where id = ${User.id}
        </foreach>
    </update>

    <update id="resetUsers">
        update sf_user
        set is_sign=0,
        award_count = 0,
        signed_time = NULL,
        wx_openid = NULL,
        wx_headimgurl = null,
        wx_nickname = null,
        wx_sex = null,
        wx_province = null,
        wx_city = null,
        wx_country = null,
        wx_privilege = null,
        wx_unionid = null
    </update>



</mapper>