//
   Created by 01170626 on 2016/12/5.
extends jade/common/layout
block header
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/ionicons.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/_all-skins.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/layer/layer.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/layer/layer_skin.css")
    link(rel="stylesheet", href="http://hashzhang.com/data/frontend/lib/AdminLTE/dist/css/AdminLTE.min.css")


block content
    div.box.box-info
        div.box-header.with-border
            h3.box-title 奖品管理界面
            button.btn.btn-success(style="margin-left:5%;" onclick="confirmAddAward()") 添加奖品

        div(style="display: -webkit-inline-box;")
            button.btn.btn-info#startGift(onclick="startGift()",style="display:block;width:100px;margin-left:2%;") 开始抽奖
            button.btn.btn-danger#endGift(onclick="endGift()",style="display:none;width:100px;margin-left:2%;") 结束抽奖
            button.btn.btn-info#startCpGift(onclick="startCpGift()",style="display:block;width:100px;margin-left:2%;") 开始CP抽奖
            button.btn.btn-danger#endCpGift(onclick="endCpGift()",style="display:none;width:100px;margin-left:2%;") 结束CP抽奖
            button.btn.btn-info#startShake(onclick="startShake()",style="display:block;width:100px;margin-left:2%;") 开始摇一摇
            button.btn.btn-danger#endShake(onclick="endShake()",style="display:none;width:100px;margin-left:2%;") 结束摇一摇
            div.btn-group
                button.btn.btn-info.dropdown-toggle#sfPayChoice(data-toggle="dropdown",style="display:block;width:160px;margin-left:2%;") 选择顺手付红包
                    span.caret
                    span.sr-only
                ul.dropdown-menu(role="menu")
                    li
                        a(href="javascript:startSfPay0()") 活动未开始
                    li
                        a(href="javascript:startSfPay1()") 顺手付活动一
                    li
                        a(href="javascript:startSfPay2()") 顺手付活动二
                    li
                        a(href="javascript:startSfPay3()") 顺手付活动三
            button.btn.btn-danger#initAward(onclick="initAward()",style="display:block;width:100px;margin-left:2%;") 初始化抽奖


        div.box-body
            div.table-responsive
                table.table.no-margin
                    thead
                    tr
                        th 选中奖品
                        th 奖品名称
                        th 奖品描述
                        th 可获奖人数
                        th 奖品类别
                        th 修改奖品
                        th 删除奖品
                    tbody#awardTable

    div.box.box-info
        div.box-header.with-border
            h3.box-title 获奖者界面

        div.box-body(style="margin:0 auto;")
            div.table-responsive
                table.table.no-margin
                    thead
                    tr
                        th 获奖者姓名
                        th 获奖者工号
                        th 删除该获奖者
                    tbody#winnerTable



block footer
    script(src="http://hashzhang.com/data/frontend/lib/jquery/dist/jquery.min.js")
    script(src="http://hashzhang.com/data/frontend/lib/jquery-ui/jquery-ui.min.js")
    script(src="http://hashzhang.com/data/frontend/js/award.min.js")
    script(src="http://hashzhang.com/data/frontend/js/layer/layer.js")
    script(src="http://hashzhang.com/data/frontend/js/layer/layer_main.js")
