extends jade/common/layout
block header
    link(rel="shortcut icon",href="../favicon.ico")
    link(rel="stylesheet",type="text/css",href="css/signwall/normalize.css")
    link(rel="stylesheet",type="text/css",href="css/signwall/demo.css")
    link(rel="stylesheet",type="text/css",href="css/signwall/component.css")
    link(rel="stylesheet",type="text/css",href="css/signwall/init.css")
block content
    div.container.demo-1(style="width:100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;")
        div.content(style="padding: 0px;")
            div.large-header#large-header
                div.row
                    div#cpGiftBox.col-md-12(style="text-align:center;background-image: url('image/winningStars.png');")
                        div#luckDiv(style="overflow-y: auto;margin-left:20px;margin-right:20px;opacity:1;")
                div#loading.row(style="position: absolute;top: 40%;left:22%;right:15%;")
                    img(src="img/loading/waiting.png")
                    img(src="img/loading/loading-0.gif")

block footer
block extends
    script(src="js/signwall/TweenLite.min.js")
    script(src="js/signwall/EasePack.min.js")
    script(src="js/signwall/rAF.min.js")
    script(src="js/signwall/demo-1.min.js")
    script(src="js/cpgift.min.js")

