extends jade/common/layout
block header
    link(rel="shortcut icon",href="../favicon.ico")
    link(rel="stylesheet",type="text/css",href="http://hashzhang.com/data/frontend/css/signwall/normalize.css")
    link(rel="stylesheet",type="text/css",href="http://hashzhang.com/data/frontend/css/signwall/demo.css")
    link(rel="stylesheet",type="text/css",href="http://hashzhang.com/data/frontend/css/signwall/component.css")
    link(rel="stylesheet",type="text/css",href="http://hashzhang.com/data/frontend/css/signwall/init.css")
block content
    div.container.demo-1(style="width:100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;")
        div.content(style="padding: 0px;")
            div.large-header#large-header
                div.row
                    div#cpGiftBox.col-md-12(style="text-align:center;background-image: url('http://hashzhang.com/data/frontend/image/winningStars.png');")
                        div#luckDiv(style="overflow-y: auto;margin-left:20px;margin-right:20px;opacity:1;")
                div#loading(style="top:25%;position:absolute;")
                    img(src="http://hashzhang.com/data/frontend/img/loading/water.gif")

block footer
block extends
    script(src="http://hashzhang.com/data/frontend/js/cpgift.min.js")
    script(src="http://hashzhang.com/data/frontend/js/signwall/TweenLite.min.js")
    script(src="http://hashzhang.com/data/frontend/js/signwall/EasePack.min.js")
    script(src="http://hashzhang.com/data/frontend/js/signwall/rAF.min.js")


