extends jade/common/layout
block content
    div.box.box-info.direct-chat.direct-chat-info
        div.box-header.with-border
            h3.box-title 弹幕墙
        div.box-body
            div.direct-chat-messages(style="height:900px")

block extends
    script(src="js/danmuku.min.js")