//为每个 HTML 页面的第一行添加标准模式（standard mode）的声明，这样能够确保在每个浏览器中拥有一致的展现。
doctype html
//根据 HTML5 规范：强烈建议为 html 根元素指定 lang 属性，从而为文档设置正确的语言。这将有助于语音合成工具确定其所应该采用的发音，有助于翻译工具确定其翻译时所应遵守的规则等等。
html(lang="zh-cn")
    head
        block title
        //通过明确声明字符编码，能够确保浏览器快速并容易的判断页面内容的渲染方式。这样做的好处是，可以避免在 HTML 中使用字符实体标记（character entity），从而全部与文档编码一致（一般采用 UTF-8 编码）。
        meta(charset="utf-8")
        //IE 支持通过特定的 <meta> 标签来确定绘制当前页面所应该采用的 IE 版本。除非有强烈的特殊需求，否则最好是设置为 edge mode，从而通知 IE 采用其所支持的最新的模式。
        meta(http-equiv="X-UA-Compatible",content="IE=Edge")
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
        script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    body(style="width:100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;background:url(image/phone/mainBg1.png);background-position: center center;background-attachment: fixed;background-size: cover;background-color: #464646;height:100%")
        div(style="margin-left:10%;margin-right:10%;margin-top:70%;width:80%")
            a(href="sendDanmuku.html")
                img(src="image/phone/mainButton1.png",style="width:100%;margin-bottom:5%")
            a(href="cpSign.html")
                img(src="image/phone/mainButton2.png",style="width:100%;margin-bottom:5%")
            a(href="shake.html")
                img(src="image/phone/mainButton3.png",style="width:100%;margin-bottom:5%")
            a(href="sfPay.html")
                img(src="image/phone/mainButton3.png",style="width:100%;margin-bottom:5%")
    script(src="lib/jquery/dist/jquery.min.js")