//
   Created by 01170626 on 2016/12/1.
extends jade/common/layout

block header
    link(rel="shortcut icon",href="../favicon.ico")
    link(rel="stylesheet", type="text/css",href="css/manage/component.css")
    link(rel="stylesheet", type="text/css",href="css/manage/demo.css")
    link(rel="stylesheet", type="text/css",href="css/manage/normalize.css")
    link(rel="stylesheet",href="http://www.yyyweb.com/demo/common/init.css")
    //link(rel="stylesheet", type="text/css",href="css/layer/layer.css")
    //link(rel="stylesheet", type="text/css",href="css/layer/layer_skin.css")

block content
    div.container.demo-4(style="width:100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;")
        div.content(style="padding: 0px;")
            div#large-header.large-header
                canvas#demo-canvas
                div(style="position:absolute;top:20%;width:80%;left:10%;right:10%;text-align:center")
                    h1(style="font-size:6em") 2017年会管理系统
                    div
                        div.row
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-yellow(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;" href="opera.html" target="_blank") 节目管理
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-red(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;", href="award.html" target="_blank" ) 抽奖管理
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-yellow(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;",href="shakeRace.html" target="_blank") 摇一摇
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-red(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;", href="statistics.html" target="_blank" ) 统计
                        div.row
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-aqua(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;",href="signwall.html" target="_blank") 签到墙
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-green(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;",href="danmuku.html" target="_blank") 弹幕墙
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-aqua(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;",href="gift.html" target="_blank") 抽奖啦
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-green(style="height: 70px;")
                                    a.inner(style="text-align:center;font-size: 50px;color: #fff;",href="cpgift.html" target="_blank") cp抽奖
                        div.row
                            div.col-lg-3.col-xs-6
                                div.small-box.bg-aqua(style="height: 70px;")
                                    div.inner(style="text-align:center;font-size: 50px;color: #fff;",onmouseover="this.style.cursor='pointer'",onClick="resetUsers()") 初始化
block footer
    //script(src="js/layer/layer.js")
    //script(src="js/layer/layer_main.js")
    script(src="js/manage/demo-4.min.js")
    script(src="js/manage/rAF.min.js")
    script(src="js/manage/EasePack.min.js")
    script(src="js/manage/TweenLite.min.js")
    script(src="js/manage/reset.min.js")


