//
   Created by 01170626 on 2016/12/20.

extends jade/common/layout
block header
    link(rel="shortcut icon",href="../favicon.ico")
    link(rel="stylesheet",type="text/css",href="css/signwall/component.css")
    link(rel="stylesheet", type="text/css",href="css/statistics/ionicons.css")
    link(rel="stylesheet", type="text/css",href="css/statistics/_all-skins.css")
    link(rel="stylesheet", href="lib/AdminLTE/dist/css/AdminLTE.min.css")
block content
    div.container.demo-1(style="width:100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;")
        div.content(style="padding: 0px;")
            div.large-header#large-header
                div.row#head
                    div.col-md-12(style="text-align:center;")
                        h1(style="color: #fff100;font-family: 微软雅黑, 'Microsoft YaHei';font-size: 36px;margin-top:2%;") 2017年会摇一摇
                div#loading.row(style="position: absolute;top: 30%;left:22%;right:15%;")
                    img(src="img/loading/waiting.png")
                    img(src="img/loading/loading-0.gif")
                div(style="position: absolute;top: 15%;left:16%;right:16%;width:68%;padding-bottom:0px;display:none;")#shakeRace
                    ul.products-list.product-list-in-boxs#shake
                        //li.item(style="background-color:rgba(255,255,255,0);")
                        //    div.product-img
                        //        img.animated.shake(src="img/danmuku/demo-2-bg.jpg" style="border-radius: 50%;max-width: 100%;height: 100px;width: 100px;")
                        //    div.product-info(style="margin-left:12%")
                        //        a.product-title(style="font-size:22px;") bilibili
                        //            span.label.label-warning.pull-right 15/24
                        //        span.product-description(style="margin-top:2%")
                        //            div.progress.sm
                        //                div.progress-bar.progress-bar-aqua(style="width:66%")
                div#shakeDiv.row(style="position: absolute;width: 100%;height:100%;margin-left:0px;margin-right:0px;display:none;")
                    div.col-md-12#radiation(style="text-align:center;height:100%;background-image: url('image/winningStars.png');" class="animated bounceIn")
                        div(style="padding-left:30%;padding-right:30%")
                            div#shakeWinnerDiv.box-body.no-padding.animated.bounceIn.text-center

block footer
block extends
    script(src="js/signwall/TweenLite.min.js")
    script(src="js/signwall/EasePack.min.js")
    script(src="js/signwall/rAF.min.js")
    script(src="js/signwall/demo-1.min.js")
    script(src="js/shake.min.js")
