//
   Created by 01170626 on 2016/12/2.
extends jade/common/layout
block header
    link(rel="shortcut icon",href="../favicon.ico")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/sidebar/normalize.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/sidebar/demo.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/sidebar/component.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/ionicons.css")
    link(rel="stylesheet", type="text/css",href="http://hashzhang.com/data/frontend/css/statistics/_all-skins.css")

    script(src="http://hashzhang.com/data/frontend/js/statistics/sidebar/modernizr.custom.js")
    //script(src="http://hashzhang.com/data/frontend/js/statistics/sidebar/GoogleTemp.js")

block content
    include jade/statistics/sidebar
    include jade/statistics/PeopleCount
        
block extends
    //script(src="http://hashzhang.com/data/frontend/js/statistics/sidebar/classie.js")
    //script(src="http://hashzhang.com/data/frontend/js/statistics/sidebar/gnmenu.js")
    //script(src="http://hashzhang.com/data/frontend/js/statistics/sidebar/GoogleTemp2.js")
    script(src="http://hashzhang.com/data/frontend/js/statistics/chart.min.js")
    script(src="http://hashzhang.com/data/frontend/js/peopleCount.min.js")

