extends jade/common/layout
block content
    div.btn.btn-primary(style="color:#000",onclick="startGift()") 开始抽奖
    div.btn.btn-primary(style="color:#000",onclick="endGift()") 结束抽奖

    div.btn.btn-primary(style="color:#000",onclick="startCpGift()") 开始CP抽奖
    div.btn.btn-primary(style="color:#000",onclick="endCpGift()") 结束CP抽奖

block extends
    script(src="http://hashzhang.com/data/frontend/lib/jquery/dist/jquery.min.js")
    script(src="http://hashzhang.com/data/frontend/lib/jquery-ui/jquery-ui.min.js")
    script(src="http://hashzhang.com/data/frontend/lib/bootstrap/dist/js/bootstrap.min.js")
    //微信
    script(src="http://hashzhang.com/data/frontend/js/jweixin-1.1.0.min.js")
    //  动画相关
    script(src="http://hashzhang.com/data/frontend/lib/scrollreveal/dist/scrollreveal.min.js")
    script(src="http://hashzhang.com/data/frontend/lib/Buttons/js/buttons.js")
    script(src="http://hashzhang.com/data/frontend/lib/jquery-fireworks/jquery.fireworks.min.js")
    //  native
    script(src="http://hashzhang.com/data/frontend/js/util.min.js")
    script(src="http://hashzhang.com/data/frontend/js/variables.min.js")
    script(src="http://hashzhang.com/data/frontend/js/testGift.min.js")


